In [1]:
print('hello world')

hello world

In [2]:
1 + 1

2

In [ ]:
## 1 + 1

this is markdown text

In [3]:
2 + 3

5

this is also markdown

*send help*

## How to get into markdown mode ##
*esc m*

## How to get out of markdown ##
*esc y*

In [5]:
print (1+1)

2

In [7]:
print ('1 + 1')

1 + 1

## What are data types? ##

* Data types affect how information is stored, and the way that they interact with other code *

**Common types**:

> string (i.e., str)

> Numeric (i.e, integer/int or floating point/float)

In [18]:
print ('hello world')

hello world

In [19]:
help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

### The 'help' command ###

* **The above is like the manual command we used in the terminal shell**

* **Example**: Help (print) tells you what 'print' does and what the different commands do*

### Variables ###

* Placeholders for storing data values

* They are declared using the = character (see below)

In [20]:
x = 1 + 1
text = 'hello world'

*No output = using 'x' is storing it for latter

In [21]:
x

2

In [22]:
text

'hello world'

In [23]:
myVar =

SyntaxError: invalid syntax (3106739007.py, line 1)

*Cannot assign a blank or empty variable - This will not work*

### Variable naming in Python ###

* Variables must start with a letter or underscore
* Can only contain numbers, letters and underscore
* CANNOT start with a number

* **Remember**: They are very case sensitive

In [25]:
a, b, c = 1, 2, 3

In [27]:
x = y = z = 10

In [28]:
x

10

In [29]:
a

1

In [30]:
b

2

In [31]:
c

3

In [32]:
a + b

3

In [33]:
'hello' + x

TypeError: can only concatenate str (not "int") to str

*The above was not appreciated*

In [34]:
'a' + 'b'

'ab'

**The addition sign works with both numeric values and string**

In [35]:
type(x)

int

**This tells you the variable x is an integer**

In [36]:
x = 'some text'
type(x)

str

**You can overwrite the variable (x) and make a string from an integer**

### Errors ###

* **They mean that you did something wrong**

* *Make sure you read the message, because it will tell you where in the code is wrong (i.e., the line) and what went wrong*

In [37]:
x = 1 + 1:

SyntaxError: invalid syntax (2065419873.py, line 1)

**Syntax error:** This shows the specific location and that the syntax is invalid

In [38]:
print(myVar)

NameError: name 'myVar' is not defined

**Name error**: There is no function or variable named "MyVar"

*Likely most of the errors we get will be syntax errors and name errors (i.e., very common)*

*Always double check the spelling of variables*

In [39]:
del(x)
print(x)

NameError: name 'x' is not defined

In [40]:
pwd

'C:\\Users\\tinne'

# Second half of class notes #

In [42]:
myString = '111'
len(myString)

3

**The variable 'myString' has a length of 3 (i.e., each character that makes it up is valued at 1)**

In [44]:
newString ="hello world"
len(newString)

11

**The variable "newString" has 11 characters**

### Indexing ##

* You can index or select a specific element of that variable using the [ ] characters *

In [46]:
newString[0]

'h'

* This is called string slicing (i.e., pointing to a particualr index of that list of characters)
* 'hello world' starts at 0 but has 11 characters (i.e., 0-10)

* You can also specify a range of values separated by a ":"
* You can also index starting from the end of the string using negative values

In [52]:
newString[1:5]

'ello'

In [53]:
newString[1:9:2]

'el o'

In [54]:
newString[-1:2:-2]

'drwo'

* start at the last character, go back to the second index, skipping by -2

In [56]:
newString[0:5]

'hello'

In [58]:
newString[6:11]

'world'

In [65]:
newString[-1:0:-1]

'dlrow olle'

* Nope not what we wanted

In [67]:
newString[-1:-12:-1]

'dlrow olleh'

* Ranges are non-inclusive
* If I am saying from (0-5) - Take the first 5 elements (0, 1, 2, 3, 4)
* If we wanted to include all the letters of ('hello world'), we need to include -11 (and used -12)

### Lists ##

* Another form of data type
* Using square brackets []
* **Example**: ["whiskey", "vodka", "lager", "cider"]
* **Lists are**: Ordered (i.e., defined order that will not change; new items are added at the end of the list) and changeable (i.e., we can change, add, and remove items from a specific list).
* Lists can store variables of different data types
* Lists can be empty

In [69]:
drinks = ["whiskey", "vodka", "lager", "cider"]

In [73]:
drinks[3] = "tequila"

In [74]:
drinks

['whiskey', 'vodka', 'lager', 'tequila']

In [79]:
drinks[2]= "101"

In [80]:
type(drinks)

list

In [82]:
shots = drinks[0]
print(shots)

whiskey

* Just need to know and remember the indexes

In [88]:
drinks[2:4]

['101', 'tequila']

In [90]:
drinks.append("wine")

* Append is a method of data types of lists (i.e., can add to the list)

In [91]:
drinks

['whiskey', 'vodka', '101', 'tequila', 'wine']

In [92]:
len(drinks)

5

* Can see what the drinks are
* Can see how many drinks there are in the list

#### Difference between append and add #####

In [94]:
newDrinks = ["beer", "water"]

In [95]:
drinks.append(newDrinks)

In [96]:
drinks

['whiskey', 'vodka', '101', 'tequila', 'wine', ['beer', 'water']]

* It appened that list with another list at the end

In [98]:
drinks.extend(newDrinks)

* However, extend will actually extend the original list

In [101]:
drinks.insert(3,"ice tea")

* Calling in a new drink (i.e., ice tea), and after character 3 
* This just inserts the new item to the list where you want it to go

### Tuples, Sets, and Dictionaries ##

* A **Tuple** is ordered and unchangeable (i.e., using ( ))
* A **Set** is unordered, unchangeable, and unindexed (i.e., using { })
* A **dictionary** stores data key:value pairs (i.e., it is ordered, changeable, and does not allow supplicates - not the same thing twice).

### If Statements (i.e., conditional statements) ###

* Programming uses conditional statements to control the flow of a program and perform actions
* Carried out by evaluating booleans (“if a condition is true, do one thing; if it is false, do another)

#### Boolean Values ####

* Things that will return either a "TRUE" or "FALSE"
* Expressed via operators
* **Comparison operators**: ==, !=, >, <, <=, >=
* **Logical operators**: and, or, not
* **Membership operators**: in, not in

In [103]:
x, y = 1, 2
x == y

False

In [104]:
x != y

True

In [105]:
x >= y

False

In [106]:
y = 'a'
x == y

False

* Can compare variables of different types

In [108]:
y = 2

In [110]:
x != y and x > y

False

* For it to return 'TRUE', both statements need to be true

In [112]:
x != y or x > y

True

* At least one of the statements is true

In [115]:
x != y and bool(1)

True

* Good way to see if anything is contained in a variable

### Let's breakdown an IF statement ###

In [120]:
a = 200
b = 33
if b > a:
    print("b is greater than a")
elif a == b:
    print("a and b are equal")
else: 
    print("none of the above is true")

none of the above is true

* **if** = Can have multiple, and they can run together 
* **elif** = Or else if (i.e., you can have as many of these as you want)
* **else** = what to do if nothing above is true

In [122]:
a = 200
b = 200
if b >= a:
    print("b is greater than OR equal to a")
    if a == b:
        print ("a is less than b")

b is greater than OR equal to a
a is less than b

* This a nested IF statement
* A self contained IF statement only has ONE IF statement

### Match and Case ###

In [124]:
day = 4
match day:
case 1:
    print("Monday")
case 2:
    print("Tuesday")
case 3:
    print("Wednesday")
case 4:
    print("Thursday")
case 5:
    print("Friday")

IndentationError: expected an indented block after 'match' statement on line 2 (1561065262.py, line 3)

* The other way to evaluate different outcomes (especially when you have a fixed number of outcomes) is through match and case

## In-Lab Final Exercise ##

In [126]:
name = input ("Enter your name:")

Enter your name: Mimi

In [127]:
name

'Mimi'

In [135]:
name = input("Enter your name:")
if name == "Mimi":
    print ("BCN")
else:
    if len(name) <=4:
        print ("SP")
    elif len(name) > 4 and len(name) <=7:
        print ("LD")
    else:
        print("BCN")

Enter your name: Makenna

LD

#### This above is a bit inefficient ####

**What can we do to fix it:**

* Instead of calling the length function, you could do: nameLen = len(name)
* Instead of calling the print function, you only call it once (i.e., print(area) OR print("Your area is:" + area))